/* Import Google Font */
@font-face {
    font-family: 'Indie Flower';
    src: url('../../../word_guess_game/assets/fonts/Indie_Flower/IndieFlower.ttf') format('truetype');
    font-family: 'Special Elite';
    src: url('../../../word_guess_game/assets/fonts/Special_Elite/SpecialElite-Regular.ttf') format('truetype');
}

/* General */
body {
    font-family: 'Special Elite', cursive;
}

/* Nametag */
.tag {
    border-radius: 20px;
    border: 2px solid blue;
    width: 400px;
    height: 250px;
  }
  
  header {
    background: blue;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 2px;
  }
  
  .hello {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: white;
  }
  
  .mynameis {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
  }

  .dottedline {
      display: block;
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      font-family: 'Indie Flower', cursive;
  }

/* Other Elements */
  .title {
      text-align: center;
      font-size: 80px;
  }